.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7e30e1;
  color: #f3f8ff;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0.5em 1em;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.links {
  display: flex;
  align-items: center;
}
.links > * {
  text-decoration: none;
  color: #f3f8ff;
  margin-left: 1em;
}

.links > *:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

@media (max-width: 575px) {
  .cart {
    font-size: 1.4em;
  }
}
